.sidenav {
  position: fixed;
  left: -400px;
  top: 0;
  bottom: 0;
  width: 280px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 69, 0, 1),
    rgba(255, 0, 0, 1)
  );
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 999;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  pointer-events: none;
  opacity: 0; /* Oculta el menú por defecto */
  transition: opacity 0.3s ease; /* Agrega una transición suave al cambiar la opacidad */
}

.menu {
  list-style: none;
  margin-top: 230px;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  color: white;

  text-decoration: none;
}

.show-menu {
  left: 0;
  pointer-events: auto;
  opacity: 1; /* Muestra el menú */
}

.toggle-btn {
  position: relative;
  top: 20px;
  left: 1750px;
  z-index: 1000;
}

.fa-bars {
  top: 1px;
  position: absolute;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.fa-bars:hover {
  background-image: linear-gradient(
    45deg,
    rgba(255, 68, 0, 0.808),
    rgba(255, 0, 0, 0.87)
  );
  background-clip: text;
  -webkit-background-clip: text; /* Para navegadores basados en WebKit (Safari, Chrome, etc.) */
  color: transparent;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.show-overlay {
  pointer-events: auto;
  opacity: 1;
}

.blur {
  filter: blur(5px);
}

.sidenav:focus,
.overlay:focus {
  outline: 2px solid #007bff;
}

.show-menu + .overlay {
  pointer-events: auto;
  opacity: 1;
}

.show-menu + .overlay + * {
  pointer-events: none;
  filter: blur(5px);
}

.home {
  cursor: pointer;
  text-align: center;
  border: 2px solid #ffffff; /* Color y grosor del borde */
  border-radius: 50px; /* Radio para hacerlo redondeado */
  background-color: transparent; /* Color de fondo transparente */
  padding: 12px 55px; /* Espaciado interno del botón */
  color: #ffffff; /* Color del texto */
  font-size: 26px; /* Tamaño de fuente */
  font-family: "Roboto Mono", monospace;
}

.home:hover {
  background-color: #222438;
}
.about {
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background-color: transparent;
  color: #000000;
  font-size: 26px;
  font-family: "Roboto Mono", monospace;
  padding: 12px 48px;
}
.about:hover {
  background-color: #222438;
}

.contact {
  cursor: pointer;
  border: 2px solid #ffffff; /* Color y grosor del borde */
  border-radius: 50px; /* Radio para hacerlo redondeado */
  background-color: transparent; /* Color de fondo transparente */
  padding: 10px 32px; /* Espaciado interno del botón */
  color: #000; /* Color del texto */
  font-size: 26px; /* Tamaño de fuente */
  font-family: "Roboto Mono", monospace;
}

.contact:hover {
  background-color: #222438;
}

.projects {
  cursor: pointer;
  border: 2px solid #ffffff; /* Color y grosor del borde */
  border-radius: 50px; /* Radio para hacerlo redondeado */
  background-color: transparent; /* Color de fondo transparente */
  padding: 10px 25px; /* Espaciado interno del botón */
  color: #000; /* Color del texto */
  font-size: 26px; /* Tamaño de fuente */
  font-family: "Roboto Mono", monospace;
}

.projects:hover {
  background-color: #222438;
}

.resume {
  cursor: pointer;
  border: 2px solid #ffffff; /* Color y grosor del borde */
  border-radius: 50px; /* Radio para hacerlo redondeado */
  background-color: transparent; /* Color de fondo transparente */
  padding: 10px 40px; /* Espaciado interno del botón */
  color: #000; /* Color del texto */
  font-size: 26px; /* Tamaño de fuente */
  font-family: "Roboto Mono", monospace;
}

.resume:hover {
  background-color: #222438;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-icon {
  font-size: 50px;
  color: #ffffff;
}

.close-icon:hover {
  color: #222438;
}

h2 {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-10 18:56:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes h2 {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
