<div class="headerComponent">
  <div class="container">
    <div class="circle">
      <img src="assets/foto.jpeg" alt="Foto del portafolio" />
    </div>
    <div class="iconos">
      <nav>
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="https://github.com/camilorestrepodev"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://www.linkedin.com/in/camilorestrepodev/"
          ><i class="fab fa-linkedin"></i
        ></a>
      </nav>
    </div>
  </div>
  <div class="header">
    <div>
      <span>I AM JUAN CAMILO RESTREPO.</span>
    </div>
    <div>
      <h2>Developer Fullstack</h2>
    </div>
    <div>
      <p class="frase">
        <i
          >"The true sign of intelligence is not knowledge, but imagination." -
          Albert Einstein</i
        >
      </p>
    </div>
    <div class="example-button-row">
      <a
        href="assets/cv.pdf"
        download
        class="btn-descargar"
        mat-raised-button
        btntwo
        color="primary"
        id="contactBtn"
      >
        Download Cv
      </a>
      <button
        mat-raised-button
        btwone
        color="primary"
        id="contactBtn"
        (click)="scrollToContact()"
      >
        Contact
      </button>
    </div>
  </div>
</div>
