<div class="navbar">
  <app-navbar></app-navbar>
</div>
<div>
  <app-header></app-header>
</div>
<div id="about" class="about">
  <h2>ABOUT ME</h2>
  <p class="parrafo">
    My name is Juan Camilo Restrepo, <i><b>Developer FullStack</b></i> with
    advanced skills in multiple technologies, including Java, MySQL, PostgreSQL,
    MongoDB, Spring, Swagger, JUnit/Mockito, GraphQL, JMeter, RabbitMq, Postman,
    HTML, CSS, JavaScript, React, and Git. Experienced in designing, developing,
    and maintaining scalable and efficient web applications, with social skills
    such as problem-solving and effective communication with team members and
    clients. Professional, continuously improving to deliver the best solutions
    for projects.
  </p>
  <div class="section">
    <h3>Frontend:</h3>
    <img src="../assets/html.png" alt="html" />
    <img src="../assets/css.png" alt="css" />
    <img src="../assets/javascript.png" alt="javascript" />
    <img src="../assets/typescript.png" alt="typescript" />
    <img src="../assets/angular.png" alt="angular" />
    <h4>Backend:</h4>
    <img src="../assets/java.png" alt="java" />
    <img src="../assets/mysql (2).png" alt="" />
    <img src="../assets/spring.png" alt="" />
    <img src="../assets/swagger.png" alt="" />
    <img src="../assets/junit.png" alt="" />
  </div>
</div>
<div id="portfolio" class="portfolio">
  <app-portfolio></app-portfolio>
</div>
<div id="contact" class="contact">
  <app-contact></app-contact>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
